# gradle,
.gradle
/build/
!gradle/wrapper/gradle-wrapper.jar

# maven,
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
!/.mvn/wrapper/maven-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
/out/



# Intellij,
/.ideaDataSources

# sql, 
/src/main/resources/db.properties

# inplace,
/src/main/webapp/WEB-INF/classes/
/src/main/webapp/WEB-INF/lib/

# mybatis-generator
/src/main/java/cc/aoeiuv020/panovel/server/dal/mapper/autogen/
/src/main/java/cc/aoeiuv020/panovel/server/dal/model/autogen/
/src/main/resources/cc/aoeiuv020/panovel/server/dal/mapper/autogen

# jpush,
/src/main/resources/jpush.properties
