target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties

# Avoid ignoring Maven wrapper jar file (.jar files are usually ignored)
!/.mvn/wrapper/maven-wrapper.jar

# Intellij,
*.ipr
*.iws
*.iml
/.idea
/.ideaDataSources

# sql, 
/src/main/resources/db.properties

# inplace,
/src/main/webapp/WEB-INF/classes/
/src/main/webapp/WEB-INF/lib/

# mybatis-generator
/src/main/java/cc/aoeiuv020/panovel/server/dal/mapper/autogen/
/src/main/java/cc/aoeiuv020/panovel/server/dal/model/autogen/
/src/main/resources/cc/aoeiuv020/panovel/server/dal/mapper/autogen

# jpush,
/src/main/resources/jpush.properties
